@import url(fonts.scss);
*, html{
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}
body {
	font-family: IRANSans !important;
	font-weight: 300;
	direction: ltr;
	background-color: #FFF;
	margin: 0;
}
h1, h2, h3, h4, h5, h6,input, textarea {
	font-family: IRANSans !important;
}
h1 {
	font-weight: bold;
}
